{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold mb-4">Inscription sur MAINBOOK</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr': {'class': 'space-y-4'}}) }}
	<div>
		{{ form_label(registrationForm.lastName, 'Nom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
		{{ form_widget(registrationForm.lastName, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
		{{ form_errors(registrationForm.lastName) }}
	</div>
	<div>
		{{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
		{{ form_widget(registrationForm.firstName, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
		{{ form_errors(registrationForm.firstName) }}
	</div>
	<div>
		{{ form_label(registrationForm.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
		{{ form_widget(registrationForm.email, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
		{{ form_errors(registrationForm.email) }}
	</div>
	<div>
		{{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
		{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
		{{ form_errors(registrationForm.plainPassword) }}
	</div>
	<div>
		{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2'}}) }}
		{{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'text-sm font-medium text-gray-700'}}) }}
		{{ form_errors(registrationForm.agreeTerms) }}
	</div>

	<button type="submit" class="btn bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
