{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Nos produits
{% endblock %}

{% block body %}
	<div class="font-sans p-4 mx-auto lg:max-w-6xl md:max-w-4xl">
		<div class="mb-16 flex flex-row justify-between items-center">
			<h2 class="text-2xl sm:text-3xl font-extrabold text-gray-800 mb-6 sm:mb-10">Nos livres numériques</h2>
			{{ form_start(form, {'attr': {'id': 'formSearch', 'class': 'flex items-center'}}) }}
			<div class="mb-4 mx-2">
				{{ form_row(form.category, {'attr': {'class': 'block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}}) }}
			</div>
			<div class="mb-4 mx-2">
				{{ form_row(form.autor, {'attr': {'class': 'block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm'}}) }}
			</div>
			<button type="submit" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md shadow-sm">Filtrer</button>
			{{ form_end(form) }}
		</div>

		<section id="productList" class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

			{% if produit is not empty %}
				{% for products in produit %}

					<div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
						<a href="{{ path('product_detail', {'slug': products.slug}) }}">
							<img src="{{ asset('images/products/' ~ products.imageName)}}" alt="{{products.name}}" class="h-80 w-72 object-contain rounded-t-xl"/>
							<div class="px-4 py-3 w-72">
								<span class="text-gray-400 mr-3 uppercase text-xs">{{products.category}}</span>
								<p class="text-lg font-semibold text-black truncate block capitalize">{{products.name}}</p>
							</div>
						</a>
					</div>

				{% endfor %}
			{% else %}
				Aucun livre disponible avec vos critères de recherche
			{% endif %}

		</section>
	</div>
{% endblock %}
